/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: rgba(34, 34, 34, 0.78);
}

.hero-image {
  width: 100%; height: 100%;
  background-position: 70% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.wildstar-banner {
  background-image: url(/images/obeta.jpg);
}

.navbar {
  margin-left: 0;
  margin-right: 0;
  border-color: #f00;
}